.trainDetail_head {
  background-color: #388ad7;
  text-align: center;
  color: #fff;
  .start-train, .train-info, .end-train {
    display: flex;
    flex-direction: column;
    p {
      @include dpr(28);
      padding-bottom: calculateRem(8px);
    }
    span {
      @include dpr(44);
      padding: calculateRem(8px) 0;
      font-weight: bold;
    }
    small {
      @include dpr(28);
      padding-bottom: calculateRem(6px);
    }
  }
  .train-info {
    img {
      width: 100%;
    }
    small {
      padding-top: calculateRem(24px);
    }

  }
}

.trainList {
  text-align: center;
  .head {
    @include dpr(30);
    color: #505050;
    border-bottom: 1px solid #E8E8E8;
    height: calculateRem(70px);
    .row-flex {
      height: calculateRem(70px);
    }
  }
  .item{
    .line {
      left: calculateRem(30px);
      top: calculateRem(30px);
      border-left: calculateRem(4px) solid #e9e9e9;
      position: absolute;
      height: 100%;
      z-index: -1;
    }
    .row-flex{
      div{
        @include dpr(28);
        padding: calculateRem(10px) 0;
      }
      .out {
        .in{
          margin: 0 auto;
          width: calculateRem(44px);
          height: calculateRem(44px);
          border-radius: calculateRem(20px);
          padding: calculateRem(0px);
          display: inline-block;
          border-radius: 100%;
          color: #ffffff;
          text-align: center;
        }
      }

    }
    .pass{
      color: #bcbcbc;
      .in{
        background-color: #bdbdbd!important;
      }
    }
    .row-flex:last-child{
      .line{
        border: none;
      }
    }

  }
  .row-flex {
    @include dpr(28)
  }

}
